<div class="sandbox">
    <h1>UTBILDNING</h1>
    <br>
    <h2>Wijkmanska/Wenströmska gymnasiet</h2>
    <p>2016–2019 <br>
       Jag har utbildat mig i programmering 1 och 2, dator och nätverksteknik, webbserverprogrammering 1 och webbutveckling 1. Där jag lärde mig en del av Cisco packet tracer, CSS, HTML, PHP, SQL lite och Java. 
    </p>
    <br>

    <h2>Rudbeckianska gymnasiet</h2>
    <p>2019–2020 <br>
        Gick klart Svenska 3. 
    </p>
    <br>

    <h2>AGSTU yrkeshögskola</h2>
    <p>2019-2021 <br>
       Utbildning i FPGA programmering där jag lärde mig om C programmering och gick klart C kursen. Mitt projekt https://www.youtube.com/watch?v=9p8IK-sUR0s. 
    </p>
    <br>
  
    <h2>Frontendutvecklare ECUTBILDNING yrkeshögskola</h2>
    <p>2020-2022 <br>
       Studerade frontend och backend utvecklare där jag lärde mig om design, figma, javascript, three.js, API, react, vue, SQL, scrum och agile.
    </p>
</div>

<div class="sandbox">
    <h1>ARBETSLIVSFARENHET</h1>
    <br>
    <h2>Hallstahammars kommun</h2>
    <p>Sommarjobbade på Hallstahammars kommun i år 2016</p>
    <br>
    <h2>LIA på Goodminton AB</h2>
    <p>November 2021-April 2022</p>
  <p>Byggde och designa hemsida</p>
</div>

<div class="sandbox">
    <h1>REFERENSER</h1>
    <br>
    <h2>Wijkmanska/Wenströmska gymnaiset</h2>
    <p>Lärare: Sami</p>
    <p>Mobil: +46722039121</p>
    <br>

    <h2> Rudbeckianska gymnasiet</h2>
    <p>Lärare: David</p>
    <p>Mobil: +46764952135</p>
    <br>
    
    <h2>AGSTU yrkeshögskola</h2>
    <p>Mobil: +46702864344</p>
    <p>E-mail: mia_lindh@agstu.com</p>
    <p>Skype: miaharvig</p>
  
    <h2>Frontendutvecklare ECUTBILDNING yrkeshögskola</h2>
    <p>Lärare: Joakim Wahlström </p>
    <p>E-mail: wahlstrom.joakim@gmail.com joakim.wahlstrom@utb.ecutbildning.se</p>
    <br>
    
    <p>Lärare: Jonas Söderström</p>
    <p>E-mail: jonas.soderstrom@ecutbildning.se </p>
    <br>
  
    <p>Utbildningsledare: Ida Jarlhamre</p>
    <p>E-mail: ida.jarlhamre@ecutbildning.se</p>
    
</div>

<div class="sandbox">
    <h2>ÖVRIGA MERITER</h2>
    <p>Körkort: B</p>
</div>
