<div class="sandbox">
    <h1>UTBILDNING</h1>
    <br>
    <h2>Wijkmanska/Wenströmska gymnasiet</h2>
    <p>2016–2019 <br>
       Jag har utbildat mig i programmering 1 och 2, dator och nätverksteknik, webbserverprogrammering 1 och webbutveckling 1. Det som tog fast mig i programmering var allting om programmering, även om det är svårt. Fast det enklaste språket enligt mig var nog HTML och CSS. Och Java är nog ett av de svåraste programmeringsspråken jag gick igenom.  
    </p>
    <br>

    <h2>Rudbeckianska gymnasiet</h2>
    <p>2019–2020 <br>
        Gick klart Svenska 3. 
    </p>
    <br>

    <h2>AGSTU yrkeshögskola</h2>
    <p>2019-2021 <br>
       Utbildning i FPGA programmering dock så lärde jag mig mest om C programmering. Annars var det svårt att förstå VHDL programmering. Blev klart med C programmeringskursen och blev glad med mitt sista projekt i kursen https://www.youtube.com/watch?v=9p8IK-sUR0s 
    </p>
</div>

<div class="sandbox">
    <h1>ARBETSLIVSFARENHET</h1>
    <br>
    <h2>Hallstahammars kommun</h2>
    <p>Sommarjobbade på Hallstahammars kommun i år 2016</p>
</div>

<div class="sandbox">
    <h1>REFERENSER</h1>
    <br>
    <h2>Wijkmanska/Wenströmska gymnaiset</h2>
    <p>Lärare: Sami</p>
    <p>Mobil: +46722039121</p>
    <br>

    <h2> Rudbeckianska gymnasiet</h2>
    <p>Lärare: David</p>
    <p>Mobil: +46764952135</p>
    <br>
    
    <h2>AGSTU yrkeshögskola</h2>
    <p>Mobil: +46702864344</p>
    <p>E-mail: mia_lindh@agstu.com</p>
    <p>Skype: miaharvig</p>
  
    <h2>Frontendutvecklare ECUTBILDNING yrkeshögskola</h2>
    <p>Lärare: Joakim Wahlström </p>
    <p>E-mail: wahlstrom.joakim@gmail.com joakim.wahlstrom@utb.ecutbildning.se</p>
    <br>
    
    <p>Lärare: Jonas Söderström</p>
    <p>E-mail: jonas.soderstrom@ecutbildning.se </p>
    <br>
  
    <p>Utbildningsledare: Ida Jarlhamre</p>
    <p>E-mail: ida.jarlhamre@ecutbildning.se</p>
    
</div>

<div class="sandbox">
    <h2>ÖVRIGA MERITER</h2>
    <p>Körkort: B</p>
</div>
